﻿@model IEnumerable<ContosoUniversity.Models.Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pesronnes.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pesronnes.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailsID })
        </td>
    </tr>
}

</table>
